# Basic Settings

### explore directory / file

In [2]:
pwd

'/Users/hwan/Desktop/git_repos/NUS_MSBA_Study'

In [1]:
ls

README.md       [SHM] 01.ipynb  data/           test.txt

In [3]:
cd data/

/Users/hwan/Desktop/git_repos/NUS_MSBA_Study/data

In [4]:
ls

footnotes-in-annual-report-for-price-range-of-hdb-flats-offered.pdf
metadata-price-range-of-hdb-flats-offered.txt
price-range-of-hdb-flats-offered.csv

In [5]:
cd ..

/Users/hwan/Desktop/git_repos/NUS_MSBA_Study

### read fiile

In [6]:
import pandas as pd
df_orig = pd.read_csv('./data/price-range-of-hdb-flats-offered.csv')
df_orig.shape

(233, 7)

In [7]:
df = df_orig.copy()
print(df.shape)
display(df.head(2), df.tail(2))

(233, 7)

,financial_year,town,room_type,min_selling_price,max_selling_price,min_selling_price_less_ahg_shg,max_selling_price_less_ahg_shg
0,2008,Punggol,2-room,82000,107000,0,0
1,2008,Punggol,3-room,135000,211000,0,0

,financial_year,town,room_type,min_selling_price,max_selling_price,min_selling_price_less_ahg_shg,max_selling_price_less_ahg_shg
231,2019,Woodlands,4-room,244000,295000,184000,235000
232,2019,Woodlands,5-room,336000,383000,331000,378000

### import packages

In [8]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df.head(2)

,financial_year,town,room_type,min_selling_price,max_selling_price,min_selling_price_less_ahg_shg,max_selling_price_less_ahg_shg
0,2008,Punggol,2-room,82000,107000,0,0
1,2008,Punggol,3-room,135000,211000,0,0

# EDA

### null check